[submodule "RobustToolbox"]
	path = RobustToolbox
	url = https://github.com/space-wizards/RobustToolbox.git
	branch = master
[submodule "Secrets"]
	path = Secrets
	url = https://github.com/space-exodus/secrets
    branch = master
    update = none
