- type: job
  id: HeadOfSecurity
  name: job-name-hos
  description: job-description-hos
  playTimeTracker: JobHeadOfSecurity
  requirements:
    - !type:RoleTimeRequirement
      role: JobWarden
      time: 36000 #10 hrs # Corvax-RoleTime
#    - !type:RoleTimeRequirement
#      role: JobSecurityOfficer
#      time: 36000 #10 hrs
    - !type:DepartmentTimeRequirement
      department: Security
      time: 108000 #50 hrs # Corvax-RoleTime
#    - !type:OverallPlaytimeRequirement
#      time: 144000 #40 hrs
    # Exodus-Better-Sec-Hiring-Start
    - !type:TraitsRequirement
      inverted: true
      traits:
      - Muted
      - Blindness
      - Narcolepsy
      - Pacifist
    # Exodus-Better-Sec-Hiring-End
    # Exodus-Better-Command-Hiring-Start
    - !type:SpeciesRequirement
      inverted: true
      species:
      - Vox
    # Exodus-Better-Command-Hiring-End
  weight: 10
  startingGear: HoSGear
  icon: "JobIconHeadOfSecurity"
  supervisors: job-supervisors-captain
  canBeAntag: false
  access:
  - HeadOfSecurity
  - Command
  - Brig
  - Security
  - Armory
  - Maintenance
  - Service
  - External
  - Detective
  - Cryogenics
  special:
  - !type:AddImplantSpecial
    implants: [ MindShieldImplant ]
  - !type:AddComponentSpecial
    components:
      - type: CommandStaff

- type: startingGear
  id: HoSGear
  equipment:
    eyes: ClothingEyesGlassesSecurity
    id: HoSPDA
    gloves: ClothingHandsGlovesCombat
#    ears: ClothingHeadsetAltSecurity # Exodus-Better-Loadout
#    pocket1: WeaponPistolMk58 # Exodus-Better-Loadout
  storage:
    back:
    - Flash
#    - MagazinePistol # Exodus-Better-Loadout

- type: chameleonOutfit
  id: HeadOfSecurityChameleonOutfit
  job: HeadOfSecurity
  hasMindShield: true
  equipment:
  # Exodus-Better-Chameleon-Start
    head: ClothingHeadHatBeretHoS
  # Exodus-Better-Chameleon-End
    mask: ClothingMaskGasSecurity
    neck: ClothingNeckCloakHos
