- type: job
  id: Pilot
  name: job-name-pilot
  description: job-description-pilot
  playTimeTracker: JobPilot
  requirements:
  - !type:DepartmentTimeRequirement
    department: Security
    time: 72000 #20 hrs
  # Exodus-Better-Sec-Hiring-Start
  - !type:TraitsRequirement
    inverted: true
    traits:
    - Muted
    - Blindness
    - Narcolepsy
    - Pacifist
  # Exodus-Better-Sec-Hiring-End
  startingGear: PilotGear
  icon: "JobIconPilot"
  supervisors: job-supervisors-hos
  canBeAntag: false
  access:
  - Security
  - Brig
  - Maintenance
  - Service
  - External
  - Cryogenics
  special:
  - !type:AddImplantSpecial
    implants: [ MindShieldImplant ]

- type: startingGear
  id: PilotGear
  equipment:
    eyes: ClothingEyesGlassesSecurity
    head: ClothingHeadHatBeretSecurity
    id: PilotPDA
    ears: ClothingHeadsetSecurity
    neck: ClothingNeckTieRed
    pocket1: WeaponPistolMk58
  storage:
    back:
    - Flash
    - MagazinePistol


- type: chameleonOutfit
  id: PilotChameleonOutfit
  job: Pilot
  hasMindShield: true
  equipment:
    mask: ClothingMaskGasSecurity

